head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='./public/styles.css')
  // Añadir link bootstrap
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  title Document
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') TIENDA DE LUCAS
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='http://localhost:8080/api/products') Vista Productos 
      li.nav-item
        a.nav-link(href='http://localhost:8080/') Formulario
body
   h1.text-center Formulario de productos
// FORMULARIO DE PRODUCTOS
.container.shadow.p-3.mb-5.bg-white.rounded
  form(action='/api/products' method='post')
    .form-group
      label(for='title') Titulo:
      input#title.form-control(type='text' name='title')
      br
    .form-group
      label(for='price') Precio:
      input#price.form-control(type='text' name='price')
      br
    .form-group
      label(for='thumbnail') Ruta imagen:
      input#thumbnail.form-control(type='text' name='thumbnail')
      br
    input.btn.btn-primary(type='submit' value='Enviar')

