head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='./public/styles.css')
  // Añadir link bootstrap
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  title Document
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') TIENDA DE LUCAS
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='http://localhost:8080/api/products') Vista Productos 
      li.nav-item
        a.nav-link(href='http://localhost:8080/') Formulario
table.table.table-dark
  thead
    tr
      th(scope='col') Id
      th(scope='col') Titulo
      th(scope='col') Precio
      th(scope='col') Imagen
  tbody
  for product in products
    tr
      th(scope='row') #{product.id}
      td #{product.title}
      td #{product.price}
      td
       img(src=product.thumbnail class="mh-100" style="width: 100px; height: 100px;")

    