{{> navbar}}
    <h1 class="text-center">Formulario de productos</h1>
    <!--FORMULARIO DE PRODUCTOS-->
    <div class="container shadow p-3 mb-5 bg-white rounded">

    <form action="/api/products" method="post">
    <div class="form-group">
        
        <label for="title">Titulo:</label>
        <input class="form-control"  type="text" name="title" id="title">
        <br>
    </div>
    <div class="form-group">
        <label for="price">Precio:</label>
        <input class="form-control" type="text" name="price" id="price">
        <br>
    </div>
    <div class="form-group">
        <label for="image">Ruta imagen:</label>
        <input class="form-control" type="text" name="image" id="thumbnail">
        <br>
        </div>
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>

<br/>
    </div>
{{> footer}}
<br/>