
<%- include('../partials/head.ejs'); %>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TIENDA DE LUCAS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="http://localhost:8080/api/products">Vista Productos </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/">Formulario</a>
            </li>
           
          </ul>
        </div>
      </nav>

<h1 class="text-center">Formulario de productos</h1>
    <!--FORMULARIO DE PRODUCTOS-->
    <div class="container shadow p-3 mb-5 bg-white rounded">

    <form action="/api/products" method="post">
    <div class="form-group">
        
        <label for="title">Titulo:</label>
        <input class="form-control"  type="text" name="title" id="title">
        <br>
    </div>
    <div class="form-group">
        <label for="price">Precio:</label>
        <input class="form-control" type="text" name="price" id="price">
        <br>
    </div>
    <div class="form-group">
        <label for="image">Ruta imagen:</label>
        <input class="form-control" type="text" name="image" id="thumbnail">
        <br>
        </div>
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>

<br/>
    </div>
</body>